<html>
    <head>
        <title>CHOI's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">CHOI's Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">PUBG JOT GOSU</a></h2>
            <p>The Cronicle of Pubg Gosu CHOI</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">MAPLE LOVER</a></h2>
            <p>But he plays Maplestory, too.</p>
        </div>
    </body>
</html>